p {
    font-size: 24px;
}

body {
    /* background-color: #FFA600; */
    font-family: "Just Me Again Down Here", cursive;
    text-align: center;
    padding: 2em;
    /* margin: 0 25% 0 25%; */
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
    gap: 32px;
    margin: 0 auto;
}

.egg-button {
    background: #FCD95B;
    border: none;
    border-radius: 36px;
    padding: 40px;
}

.egg-button > img {
    width: 140px;
    height: 140px;

}

@keyframes animateBackground {

}

@keyframes animateEgg {

}

#animated-background {
    position: fixed;
    background: #FCD95B;
    border-radius: 32px;
    /* background: pink; */

    transition: all 400ms;
}

#animated-egg {
    position: fixed;
    /* background: red; */
    
    transition: all 400ms;
}


/* button {
    margin: 0.5em;
    padding: 1em 1.6em;
    font-size: 2em;
    cursor: pointer;
    transition: all 120ms;
} */

#timer {
    display: none;
}

#timerDisplay {
    font-size: 2em;
    margin-top: 1em;
}

/* button:hover{
    scale: 1.2;
} */

#button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
}